<div class="all">
  <div class="navbar" [class]='menu()'>
    <div class="top">
      <div class="logo">
        <img (click)="extendMenu = !extendMenu" src="../../assets/icons/dots.png" alt="">
        <h1 (click)="extendMenu = !extendMenu">MENU</h1>
        <img (click)="extendMenu = !extendMenu" class="mobile" src="../../assets/icons/horizontalDots.png" alt="">
        <h2 (click)="extendMenu = !extendMenu" class="mobile">MENU</h2>
      </div>
      <div class="text">
        <h1 (click)="toChat()">CHAT</h1>
        <h1 (click)='toForum()'>FORUM</h1>
        <h1 (click)='toNews()'>NEWS</h1>
      </div>
    </div>
    <div class="mid"></div>
    <div class="bottom">
      <img src="../../assets/img/8998.png" alt="">
    </div>
  </div>
</div>
