<div class="all">
  <div class="bar navbar" [class]='menu()'>
    <div class="top">
      <div class="logo">
        <img (click)="extendMenu = !extendMenu" src="../../assets/icons/dots.png" alt="">
        <h1 (click)="extendMenu = !extendMenu">MENU</h1>
      </div>
      <div class="text">
        <h1 (click)="toChat()">CHAT</h1>
        <h1 (click)='toForum()'>FORUM</h1>
        <h1 (click)='toNews()'>NEWS</h1>
      </div>
    </div>
    <div class="mid"></div>
    <div class="bottom">
    </div>
  </div>
</div>
