<div class="chat">
  <div class="allMessages" *ngFor="let chat of chats | async">
    <h4>{{chat.name}}</h4>
    <h6>{{chat.time}}</h6>
    <h3>{{chat.text}}</h3>
    <button (click)="deleteThisMessage(chat)">Admin Delete</button>
  </div>
  <div class="sendMessage">
    <form ng-submit="sendMessage(userMessage.value, userName.value); userMessage.value=''; userName.value='';" method="post">
      <label>Name</label>
      <input #userName>
      <label>Message</label>
      <input #userMessage>
      <button (click)="sendMessage(userMessage.value, userName.value); userMessage.value='';">Send!</button>
    </form>
  </div>
</div>
