
.chat {
  margin-left: 100px;
}

.chat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 25px;
  border: 2px solid #BBF35B;
  margin-top: 25px;
  // padding: 20px;
  width: 40vw;
  height: 90vh;
  background-image: url("../../assets/img/chatBack.gif");
background-size: cover;
  color: #BBF35B;
  overflow: scroll;
  h3 {
    text-align: center;
  }
  h4 {
    margin-bottom: auto;
    text-align: center;
  }



  .admin {
    text-align: center;
  }
  .sendMessage {
    border-radius: 10px;
    width: 40vw;
    border: 2px solid #BBF35B;
    right: auto;
    position: fixed;
    bottom: 10px;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
    color: #BBF35B;
  }
}

@media only screen and (max-width: 900px) {
  .chat{
    width: 90vw;
    height: 80vh;
    background-position: bottom;
    .sendMessage{
      border-radius: 10px;
      // width: 40vw;
      border: 2px solid #BBF35B;
      // position: fixed;
      margin-left: 90px;
      text-align: center;
      color:#BBF35B;
    }
  }
}

@media only screen and (max-width: 900px) {
.navbar{
  color: red;
}
}
