$purpleColor: #925BF3;

.login {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  button {
    width: 80px;
    background-color: transparent;
    border: none;
  }
  form {
    width: 80px;
  }
}

.chat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 25px;
  border: 2px solid #925BF3;
  margin-top: 25px;
  width: 40vw;
  height: 90vh;
  background-image: url("../../assets/img/chatBack.gif");
  background-size: cover;
  color: #BBF35B;
  overflow: auto;
  &::-webkit-scrollbar {
    opacity: 0;
  }
  box-shadow: 0px 0px 10px;
  .allMessages {
    margin-left: 10px;
    margin-top: 10px;
    border-bottom: 1px solid lightgray;
    h3 {
      text-align: center;
    }
    h4 {
      margin: 0;
    }
    h6{
      margin: 0;

    }
    button {
      float: right;
    }
  }



  .admin {
    text-align: center;
  }
  .sendMessages {
    background-color: black;
    border-radius: 10px;
    width: 40vw;
    border: 2px solid #BBF35B;
    right: auto;
    position: fixed;
    bottom: 10px;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
    color: #BBF35B;
    label {
      color: $purpleColor
    }
  }
}

@media (max-width: 900px) {
  .chatDivs{
    width: 100%;
    height: 100%;
    display: grid;
    .chat{
      width: 95%;
      height: 85vh;
      margin-top: 50px;
      background-position: bottom;
      .sendMessages {
        width: 95%;
        form {
          display: flex;
          input {
            border-radius: 5px;
          }
        }
      }
    }
    .login {
      width: 100px;
      form{
        display: flex;
        margin-left: 10px;
        input{
          background-color: black;
          &:focus{
            outline-color: limegreen;
          }
        }
      }
    }
  }
}
