<div class="main container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"><h1>89/98 Forums</h1></a>
      </div>
      <div class="forumInfo">
        <h5 *ngFor="let board of boards | async" (click)="activeBoard =board;loadBoard(board);threadShown=false">{{board['$key']}}</h5>
      </div>
    </div>
    <div class="admin">
      <!-- <a class="text-muted" routerLink="admin">Admin</a> -->
    </div>
  </nav>

  <div class="body">
    <app-forum [activeBoard]="activeBoard" [threadShown]="threadShown" [threads]="threads"></app-forum>
  </div>
</div>
