.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 25px;
  border: 2px solid #73AD21;
  margin-top: 25px;
  width: 40vw;
  height: 95vh;
  background-image: url("../../assets/img/pop.gif");
  background-repeat: no-repeat;
  background-position: center;


//forum name
  h1 {
    // position: fixed;
    // margin-top: 5px;
    text-align: center;
    color: #73AD21;
  }
 .forumInfo {
   display: flex;
   flex-direction: row;
   justify-content: space-around;

   //button work
   h5 {

     width: 10vw;
     text-align: center;
     border: 2px solid lightgrey;
     color: lightgrey;

   }
 }

}

.admin {
  color: salmon;
}

.forumInfo {

}

.body {
  // background: black;
  height: 90%;
  app-forum{
    height: 100%;
  }
}

.boardTotal {
height: 100%;

//title of post
  h3 {
    margin-left: 0px;
    text-align: left;
    color: black;


  }
}

.forumWork {
  background-color: lightgrey;

  // height: 70vh;
  // margin-bottom: 20px;

}

h6 {
  margin-left: 20px;
  color: black;
}


//comment
h4 {
  color: grey;

}



.thread {
  p {
    border: 1px dotted black;
    color: #666564;
  }
  h5 {
    border: 1px solid black;
    text-decoration: underline;
    color: blue;
  }
  h4 {
    text-decoration: underline;
  }

  h5 {
    color: black;
    border: none;
    text-decoration: none;
  }

  h1 {
    margin-right: 30px;
    text-shadow: 2px 2px 5px grey;
    color: black;
  }
}

span {
  display: flex;
  flex-direction: row;
}

.topic {
  cursor: pointer;
}
