<div class="main container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"><h1>89/98 Forums</h1></a>
      </div>
      <div class="forumInfo">
        <h5 *ngFor="let board of boards | async" (click)="activeBoard =board;loadBoard(board);threadShown=false" class='topic'>{{board['$key']}}</h5>
      </div>
      <div class="boardTotal">

      <div class = "forumWork" *ngIf="activeBoard">
        <div *ngIf="!threadShown">
          <h3 *ngIf="!postThread" (click)="postThread=!postThread">New Thread</h3>
          <div *ngIf="postThread">
            <h3 (click)="postThread=!postThread">Close</h3>
            <label>Your Name:</label>
            <input #opName>
            <label>Title:</label>
            <input #opTitle>
            <br>
            <label>Reply:</label>
            <textarea #opText></textarea>
            <button (click)="postThread=false;newThread(opText.value, opName.value, opTitle.value, activeBoard);loadBoard(activeBoard);opName.value='';opText.value='';opTitle.value=''">+</button>

            </div>
          </div>
        <div *ngIf="!threadShown">

          <br>
          <div *ngFor="let thread of threads">
            <div class="thread threadTeaser" (click)="threadShown=!threadShown;loadThread(thread);activeThread=thread">
              <h3 class="topic">{{thread.post.title}}</h3>
              <h4 class='topic'>{{thread.post.comment}}</h4>
            </div>
          </div>
        </div>
        <div *ngIf="threadShown">
          <div class="topic" (click)="threadShown=!threadShown; postThread = false; postReply=false;">Close</div>
          <div class="thread">
            <div class ="forumComment">
              <h1>{{activeThread.post.title}}</h1>
              <span><h2>{{activeThread.post.username}}</h2> <h5> {{activeThread.post.time}}</h5></span>
              <h4 class="tagline">{{activeThread.post.comment}}</h4>
            </div>
            <h5 *ngIf="!postReply" (click)="postReply=true" class="topic">Post a reply</h5>
            <div class= "forumComment"*ngIf="postReply">
              <p class="topic" (click)="postReply=false">Close</p>
              <div>
                <label>Your Name:</label>
                <input #postName>
                <br>
                <label>Reply:</label>
                <textarea #postText></textarea>
              </div>
              <button (click)="submitPost(postText.value, postName.value, activeThread, activeBoard);postText.value='';postName.value=''">Submit</button>
            </div>
            <br>
            <div class="forumComment" *ngFor="let reply of replies">
              <span><h2 class='userName'>{{reply.username}}</h2> <h4> {{reply.time}}</h4></span>
              <h4 class="reply">{{reply.comment}}</h4>
            </div>
          </div>

        </div>


        </div>
      </div>
    </div>
    <div class="admin">
      <!-- <a class="text-muted" routerLink="admin">Admin</a> -->
    </div>
  </nav>

  <div class="body">
    <app-forum [activeBoard]="activeBoard" [threadShown]="threadShown" [threads]="threads"></app-forum>
  </div>
</div>
