.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 25px;
  border: 2px solid #73AD21;
  margin-top: 25px;
  width: 40vw;
  height: 95vh;
  background-image: url("../../assets/img/pop.gif");
  background-repeat: no-repeat;
  background-position: center;


//forum name
  h1 {
    // position: fixed;
    // margin-top: 5px;
    text-align: center;
    color: #73AD21;
  }
 .forumInfo {
   display: flex;
   flex-direction: row;
   justify-content: space-around;

   //button work
   h5 {

     width: 10vw;
     text-align: center;
     border: 2px solid lightgrey;
     color: lightgrey;

   }
 }

}
div, nav {
  &::-webkit-scrollbar {
    display: none;
    opacity: 0;
  }
}

.admin {
  color: salmon;
}

.forumInfo {

}

.body {
  // background: black;
  height: 0;
  app-forum{
    height: 100%;
  }
}

.boardTotal {
height: 100%;

//title of post
  h3 {
    margin-left: 0px;
    text-align: left;
    color: black;
  }
}

.tagline {
  margin-top: 0px;
}

.forumWork {
  background-color:#4a4949;
  overflow: scroll;
  border-radius: 25px;

}

nav {
  height: 100%;
  overflow: scroll;
}


.boardTotal{
  overflow: scroll;
}

h6 {
  margin-left: 20px;
  color: black;
}


//comment
h4 {
  color: grey;

}



.thread {
  p {
    color: #666564;
  }
  h5 {
    border: 1px solid black;
    text-decoration: underline;
  }


  h5 {
    color: black;
    border: none;
    text-decoration: none;
    margin-left: 10px;
  }

  h1 {
    margin-right: 30px;
    text-shadow: 2px 2px 5px grey;
    color: black;
  }
}

.forumComment {
  span {
    display: flex;
    flex-direction: row;
  }
  border: 1px solid black;
}

.topic {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .main {
    width: 90vw;
  }
}
